workflow-chatbot-telegram.json
{"name":"Telegram Weather Bot + Gemini Fallback","nodes":[{"id":"201b4ffd-d76d-4d02-88c0-ce9215aac9eb","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[240,300],"parameters":{"updates":["message"],"additionalFields":{}}},{"id":"bc49311e-869c-4be1-9616-b0473b3ea9ef","name":"Extrair Cidade","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,300],"parameters":{"jsCode":"const rawText = $input.first().json.message?.text || '';\nconst semComando = rawText.replace(/^\\/clima\\s*/i, '').trim();\nconst semAcento = semComando.normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\nconst limpo = semAcento.replace(/\\s*,\\s*/g, ',').replace(/\\s+/g, ' ').trim().toLowerCase();\nconst ufsBrasil = ['ac','al','ap','am','ba','ce','df','es','go','ma','mt','ms','mg','pa','pb','pr','pe','pi','rj','rn','rs','ro','rr','sc','sp','se','to'];\nlet queue = limpo;\nif (limpo.includes(',')) {\n  const [cidade, uf] = limpo.split(',').map(v => v.trim());\n  if (cidade && uf) {\n    if (ufsBrasil.includes(uf)) queue = `${cidade},br`;\n    else queue = `${cidade},${uf}`;\n  }\n}\nreturn [{ json: { queue, original_input: semComando, chat_id: $input.first().json.message.chat.id } }];"}},{"id":"6358c6d9-c4c5-45dd-864b-1991bef8e684","name":"HTTP Request OpenWeather","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[720,300],"parameters":{"url":"https://api.openweathermap.org/data/2.5/weather","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $json.queue }}"},{"name":"units","value":"metric"},{"name":"lang","value":"pt_br"},{"name":"appid","value":"={{ $env.OPENWEATHER_API_KEY }}"}]},"options":{"response":{"response":{"neverError":true}}}}},{"id":"c7fee028-41ff-4978-8892-322a6b8e3f55","name":"If Clima OK","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[960,300],"parameters":{"conditions":{"combinator":"and","conditions":[{"id":"c1092af6-59bc-4106-86bb-349afae49a1c","leftValue":"={{ Number($json.cod) }}","operator":{"type":"number","operation":"equal"},"rightValue":200},{"id":"67c3c696-ba3e-4fc6-8c23-dd05a6b11c12","leftValue":"={{ !!$json.name }}","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"73cf76c0-9c74-4221-8384-6bd12c7d3b23","leftValue":"={{ $json.main?.temp !== undefined }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3}},"options":{}}},{"id":"a152da3f-163c-4da7-8e31-8a9565b59bf8","name":"Code Fallback","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,200],"parameters":{"jsCode":"const data = $input.first().json;\nconst cidade = data.name;\nconst temp = Math.round(data.main.temp);\nconst message = `🌤️ A temperatura em ${cidade} é de ${temp}°C.`;\nreturn [{ json: { ok: true, message, chat_id: $('Extrair Cidade').first().json.chat_id } }];"}},{"id":"68837307-668c-46a5-8a22-8311f3bce3f0","name":"Message a model","type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[1440,200],"onError":"continueRegularOutput","parameters":{"modelId":{"__rl":true,"mode":"list","value":"models/gemini-2.0-flash","cachedResultName":"models/gemini-2.0-flash"},"messages":{"values":[{"content":"=Você receberá uma mensagem meteorológica já correta. Reescreva em português do Brasil, de forma natural e curta. Não altere números nem o nome da cidade. Retorne apenas JSON válido no formato {\"message\":\"...\",\"ok\":true}. Mensagem: {{ $json.message }}"}]},"options":{"temperature":0.1}}},{"id":"fd526540-efe7-472f-8dd9-a70e34f33aa4","name":"Code Saída Final","type":"n8n-nodes-base.code","typeVersion":2,"position":[1680,200],"parameters":{"jsCode":"const fallback = $('Code Fallback').first().json;\nlet finalMessage = fallback.message;\ntry {\n  const ai = $input.first().json;\n  const candidates = [ai.output, ai.text, ai.message, ai.response, ai.content, ai.result, ai.data?.output, ai.data?.text];\n  for (const candidate of candidates) {\n    if (!candidate) continue;\n    if (typeof candidate === 'string') {\n      try {\n        const parsed = JSON.parse(candidate);\n        if (parsed?.message) {\n          finalMessage = parsed.message;\n          break;\n        }\n      } catch (e) {\n        if (candidate.trim()) {\n          finalMessage = candidate.trim();\n          break;\n        }\n      }\n    } else if (candidate?.message) {\n      finalMessage = candidate.message;\n      break;\n    }\n  }\n} catch (e) {}\nreturn [{ json: { ok: true, message: finalMessage, chat_id: fallback.chat_id } }];"}},{"id":"cf85f26d-4b67-4c43-888e-0aed8a9a5766","name":"Enviar ao Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1920,200],"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.message }}","additionalFields":{"appendAttribution":false}}},{"id":"38e8ab75-db18-4d60-9e8d-1e2294b8b436","name":"Code Mensagem Erro","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,420],"parameters":{"jsCode":"const base = $('Extrair Cidade').first().json;\nreturn [{ json: { ok: false, message: '❌ Cidade não encontrada. Use o formato Cidade,UF (ex.: São Paulo,SP).', chat_id: base.chat_id } }];"}},{"id":"a4e73274-7439-4098-9d66-fce217af868b","name":"Enviar Erro ao Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1440,420],"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.message }}","additionalFields":{"appendAttribution":false}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Extrair Cidade","type":"main","index":0}]]},"Extrair Cidade":{"main":[[{"node":"HTTP Request OpenWeather","type":"main","index":0}]]},"HTTP Request OpenWeather":{"main":[[{"node":"If Clima OK","type":"main","index":0}]]},"If Clima OK":{"main":[[{"node":"Code Fallback","type":"main","index":0}],[{"node":"Code Mensagem Erro","type":"main","index":0}]]},"Code Fallback":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Code Saída Final","type":"main","index":0}]]},"Code Saída Final":{"main":[[{"node":"Enviar ao Telegram","type":"main","index":0}]]},"Code Mensagem Erro":{"main":[[{"node":"Enviar Erro ao Telegram","type":"main","index":0}]]}},"pinData":{},"active":false,"settings":{"executionOrder":"v1"},"versionId":"cad85600-9e71-4a92-97ce-d27bdd223094","meta":{"templateCredsSetupCompleted":false},"id":"ddc3ca03-c17e-4fb5-9612-300e69b92e2e","tags":[]}